<div class="container" ng-controller="inventoryCtrl" id="inventoryApp.admin">

  <section id="adminSection">

    <nav>
      <!-- Button for View Stock -->
      <button id="viewStockButton" type="button" class="leftButton" ng-click="selectStock()">Inventory</button>
      <button id="viewStockButtonGrey" type="button" class="leftButton" ng-click="revealStockButton()" style="display: none; background-color: #2c3e50; border-color: #dbdbdb;">Inventory</button>
      <button id="viewUsersButton" type="button" class="rightButton" ng-click="selectUsers()">Users</button>
      <button id="viewUsersButtonGrey" type="button" class="rightButton" ng-click="revealUsersButton()" style="display: none; background-color: #2c3e50; border-color: #dbdbdb;">Users</button>
    </nav>


    <main id="viewStock" class="collapse">
      <header>
        <!-- Search Input Area -->
        <section class="searchArea">
          <input type="text" class="form-control" ng-model="searchStock" placeholder="Search">
          <i class="fa fa-plus" data-toggle="collapse" data-target="#createStock" ng-click="openCreateStock()"></i>
        </section>

        <!-- Create Stock Pop-up -->
        <section id="createStock" class="collapse">
          <h3>Create New Inventory</h3>
          <form>
            <input type="text" class="form-control" placeholder="Item Name" ng-model="newStock.name" aria-describedby="sizing-addon1" required>
            <input type="text" class="form-control" placeholder="Item Type" ng-model="newStock.type" aria-describedby="sizing-addon1" required>
            <label>Notes:</label>
            <textarea ng-model="newStock.notes" class="form-control" rows="5"></textarea>
            <button type="submit" class="btn btn-primary" ng-click="createNewStock()">Create Stock</button>
          </form>
        </section>

      </header>

      <!-- Info From Stock DataBase -->
      <main class="repeatContainer">
        <article ng-repeat="item in dbStock | searchForStock:searchStock">
          <i class="fa fa-pencil" aria-hidden="true" ng-click="editStock()"></i>
          <h2>{{item.name}}</h2>
          <h3>Type: {{item.type}}</h3>
          <h3>ID: {{item.id}}</h3>
          <h3>Last User: {{item.lastUser}}</h3>
          <h3>Notes:</h3><span ng-bind="item.notes" readonly></span>

        </article>
      </main>


    </main>
    <!-- End View Stock -->

    <!-- View Users -->
    <main id="viewUsers">
      <header>
        <!-- Search Input Area -->
        <section class="searchArea">
          <input type="text" class="form-control" ng-model="searchUser" placeholder="Search">
          <i class="fa fa-plus" data-toggle="collapse" ng-click="openCreateUser()"></i>
        </section>

        <!-- Create Stock Popup -->
        <section id="createUser">
            <h3>Create New User</h3>
            <form>
              <input type="text" placeholder="User First Name" ng-model="newUser.fname" aria-describedby="sizing-addon1" required>
              <input type="text" placeholder="User Last Name" ng-model="newUser.lname" aria-describedby="sizing-addon1" required>
              <input type="password" placeholder="User Pin" ng-model="newUser.pin" aria-describedby="sizing-addon1" required>
              <button type="submit"  ng-click="createNewUser()">Create User</button>
            </form>
        </section>

      </header>

      <!-- Info from Users Database -->
      <main class="repeatContainer">
        <article ng-repeat="user in dbUsers | searchForUser:searchUser">
          <i class="fa fa-pencil" aria-hidden="true" ng-click="editUser()" style="font-size: 2em;"></i>
          <h2>{{user.fname}} {{user.lname}}</h2>
          <h3>ID: {{user.id}}</h3>
        </article>
      </main>

    </main>


    <!-- Edit Stock -->
    <section id="editStock">
      <header>
        <h1>
          Edit Inventory
        </h1>
        <i class="fa fa-times" aria-hidden="true" ng-click="closeEditStock()"></i>
      </header>
      <form>
        <span>Name:</span>
        <input id="updateName" type="text" class="form-control" placeholder="Item name" ng-model="updatedStock.name" aria-describedby="sizing-addon1">
        <span>Type:</span>
        <input id="updateType" type="text" class="form-control" placeholder="Item type" ng-model="updatedStock.type" aria-describedby="sizing-addon1">
        <span>Notes:</span>
        <textarea id="updateNotes" ng-model="updatedStock.notes" class="form-control" rows="5"></textarea>

        <input id="updateID" type="number" name="name" style="display: none;" readonly>

        <aside class="buttons">
          <button type="button" class="btn btn-info" ng-click="removeStock()">Delete</button>
          <button id="updateButton" type="button" class="btn btn-info" name="button" ng-click="reviseStock(updatedStock)">Update</button>
        </aside>

      </form>

    </section>


    <!-- Edit User -->

    <section id="editUser">
      <header>
        <h1>
          Edit User
        </h1>
        <i class="fa fa-times" aria-hidden="true" ng-click="closeEditUser()"></i>
      </header>
      <form>
        <span>First Name:</span>
        <input id="updateFirstName" type="text" class="form-control" placeholder="Item name" ng-model="updatedUser.fname" aria-describedby="sizing-addon1">
        <span>Last Name:</span>
        <input id="updateLastName" type="text" class="form-control" placeholder="Item type" ng-model="updatedUser.lname" aria-describedby="sizing-addon1">
        <span>Pin:</span>
        <input id="updatePin" type="password" class="form-control" placeholder="New pin" ng-model="updatedUser.pin" aria-describedby="sizing-addon1">
        <input id="updateUserID" type="number" style="display: none;" ng-model="updatedUser.id" readonly>
        <aside class="buttons">
          <button type="button" class="btn btn-info" ng-click="removeUser()">Delete</button>
          <button id="updateUserButton" type="button" class="btn btn-info" name="button" ng-click="reviseUser(updatedUser)">Update</button>
        </aside>
      </form>

    </section>

  </section>






</div>
